@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

body{
    background-color: rgb(44, 44, 44);
    font-family: 'Sansita Swashed', cursive;
    margin: 0;
}
#main{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div{
    background-color: white;
    width: 600px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px black;
}

header{
    text-align: start;
    width: 600px;
    border-radius: 15px 15px 0 0;
}

header h1 {
    margin: 0 0 20px 20px;
    padding-top: 10px;
}

header p {
    margin: 0 0 0 20px;
}

main{
    width: 600px;
    margin: auto;
    padding-top: 40px;
    height: auto;
}

main button {
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Sansita Swashed', cursive;
    padding: 8px;
    border-radius: 10px;
    transition: 400ms;
}

main button:hover{
    background-color: rgb(236, 236, 152);
}

#texto-tarefa{
    margin-left: 20px;
    padding: 8px;
    border-radius: 10px;
    background-color: lightgray;
    font-family: 'Sansita Swashed', cursive;
    border-style: none;
}

main ol {
    margin: 0;
    font-family: 'Sansita Swashed', cursive;
}

.list-item{
    margin-top: 10px;
    cursor: pointer;
}

section{
    width: 600px;
    margin: auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
}
section button {
    margin: 20px 20px 0 20px;
    cursor: pointer;
    font-family: 'Sansita Swashed', cursive;
    padding: 8px;
    border-radius: 10px;
    transition: 400ms;
}

section button:hover {
    background-color: red;
    color: white;
}

.selected{
    background-color: gray;
}

.completed{
    text-decoration: line-through solid black;
}